stages:
  - testing
  - version
  - gen_fab

tests:
  image: ghcr.io/inti-cmnb/kicad7_auto:1.6.5
  stage: testing
  script:
    - "[ -f *.kicad_pcb ] && kibot -c test.kibot.yaml"

versioning:
  stage: version
  only:
    refs:
      - tags
  script:
    - echo build-$CI_PIPELINE_ID > VERSION.txt
  artifacts:
    paths:
      - VERSION.txt

pcb_outputs:
  image: ghcr.io/inti-cmnb/kicad7_auto:1.6.5
  stage: gen_fab
  script:
    - "[ -f *.kicad_pcb ] && kibot -c output.kibot.yaml"
  only:
    refs:
      - tags
  artifacts:
    when: always
    paths:
      - Fabrication/
